*{
    margin: 0;
    padding: 0;
}

body{
    width: 100vw;
    height: 100vh;
    background-color: #252525;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

header{
    width: 80%;
    height: 10%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    color: white;
    border-bottom: 1px solid white;
}

main{
    width: 100%;
    height: 60%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

#Initial{
    width: 80%;
    height: 80%;
    background: blue;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

#containerNotes{
    width: 100%;
    height: 50%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: row;
}

#containerResults{
    width: 100%;
    height: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    color: white;
}

#result{
    color: white;
}

#resultEnd{
    color: white;
}